.form {
    display: grid;
    grid-template-rows: minmax(7.3rem, min-content) minmax(6rem, min-content) minmax(5.3rem, min-content);
}

.forgotLink {
    display: inline-block;
    margin-left: auto;
}

.signUpInvite {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1.8rem;
}
