.container {
    display: flex;
    flex-direction: row;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--color-grey-200);
}

.container:focus-within {
    outline: inherit;
}

.switchButton {
    background-color: transparent;
}

.input {
    border: none;
}

.input:focus {
    outline: transparent;
}